 <!DOCTYPE html>
 <html>
 	<head>
 			<title>Monty Hall Game</title>
	</head>
 	<body style="background-color:mediumaquamarine">
 			<h1 style = 'text-align: center;font-size:200%;font-family: courier;'>Monty Hall Game Rules</h1>
 			<p style = 'text-align: center;font-size:200%;font-family: courier;'>Money is behind one of three doors. Pick a door, a door without the money will be eliminated, and then you will be given the option to switch your door choice between the remaining two. After choosing, the door with the money is revealed.</p>
 			<p align = "center">
 				<img src="/static/jpeg/door.jpg.jpg" onclick="clickOne(win)" id="Door One">
 				<img src="/static/jpeg/door.jpg.jpg" onclick="clickTwo(win)" id="Door Two">
 				<img src="/static/jpeg/door.jpg.jpg" onclick="clickThree(win)" id="Door Three">
			</p>
			<p align = 'center' id="textChange">
				Click a door! 
			</p>
			<span text-align = 'center'>Wins: </span><span id = 'count' text-align = 'center'>0</span>
			<p></p>
			<span text-align = 'center'>Games: </span><span id = 'games' text-align = 'center'>0</span>
			<div style="text-align:center;">
				<button type = "button" align = "center" onclick="resetGame()">Reset</button>
			</div>
			<div style="text-align:center;">
				<button type = "button" align = "center" onclick="resetCount()">Reset Counts</button>
			</div>
			<script>
				total = 0;
				win = Math.random();
				function clickOne(win){
					if (win >= .66){
						document.getElementById("Door Two").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door one, but may now switch doors. Click your choice.";
						document.getElementById("Door Three").onclick = switchThree;
						document.getElementById("Door One").onclick = stayOne;
					}
					else if (win >= .33){
						document.getElementById("Door Three").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door one, but may now switch doors. Click your choice.";
						document.getElementById("Door One").onclick = stayOne;
						document.getElementById("Door Two").onclick = switchTwo;
					}
					else{
						if(Math.random()>=.5){
							document.getElementById("Door Two").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door one, but may now switch doors. Click your choice.";
							document.getElementById("Door Three").onclick = switchThree;
							document.getElementById("Door One").onclick = stayOne;
						}
						else{
							document.getElementById("Door Three").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door one, but may now switch doors. Click your choice.";
							document.getElementById("Door One").onclick = stayOne;
							document.getElementById("Door Two").onclick = switchTwo;
						}
					}
				}

				function clickTwo(){
					if (win >= .66){
						document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door two, but may now switch doors. Click your choice.";
						document.getElementById("Door Three").onclick = switchThree;
						document.getElementById("Door Two").onclick = stayTwo;
					}
					else if (win < .33){
						document.getElementById("Door Three").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door two, but may now switch doors. Click your choice.";
						document.getElementById("Door One").onclick = switchOne;
						document.getElementById("Door Two").onclick = stayTwo;
					}
					else{
						if(Math.random()>=.5){
							document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door two, but may now switch doors. Click your choice.";
							document.getElementById("Door Three").onclick = switchThree;
							document.getElementById("Door Two").onclick = stayTwo;
						}
						else{
							document.getElementById("Door Three").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door two, but may now switch doors. Click your choice.";
							document.getElementById("Door One").onclick = switchOne;
							document.getElementById("Door Two").onclick = stayTwo;
						}
					}
				}

				function clickThree(){
					if (win <= .33){
						document.getElementById("Door Two").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door three, but may now switch doors. Click your choice.";
						document.getElementById("Door Three").onclick = stayThree;
						document.getElementById("Door One").onclick = switchOne;
					}
					else if (win < .66){
						document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You picked door three, but may now switch doors. Click your choice.";
						document.getElementById("Door Three").onclick = stayThree;
						document.getElementById("Door Two").onclick = switchTwo;
					}
					else{
						if(Math.random()>=.5){
							document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door three, but may now switch doors. Click your choice.";
							document.getElementById("Door Three").onclick = stayThree;
							document.getElementById("Door Two").onclick = switchTwo;
						}
						else{
							document.getElementById("Door Two").src = "/static/jpeg/goat.jpg";
							document.getElementById("textChange").innerHTML = "You picked door three, but may now switch doors. Click your choice.";
							document.getElementById("Door One").onclick = switchOne;
							document.getElementById("Door Three").onclick = stayThree;
						}
					}
				}

				function stayOne(){
					var w = Math.random()
					if(w <=.33){
						document.getElementById("Door One").src = "/static/jpeg/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}

				function stayTwo(){
					var w = Math.random()
					if(w <=.33){
						document.getElementById("Door Two").src = "/static/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door Two").src = "/static/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}

				function stayThree(){
					var w = Math.random()
					if(w <=.33){
						document.getElementById("Door Three").src = "/static/jpeg/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door Three").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}

				function switchOne(){
					var w = Math.random()
					if(w <=.66){
						document.getElementById("Door One").src = "/static/jpeg/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door One").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}
				function switchTwo(){
					var w = Math.random()
					if(w <=.66){
						document.getElementById("Door Two").src = "/static/jpeg/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door Two").src = "/static/jpeg/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}
				function switchThree(){
					var w = Math.random()
					if(w <=.66){
						document.getElementById("Door Three").src = "/static/money.jpg";
						document.getElementById("textChange").innerHTML = "You win!";
						document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) + 1;
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					else{
						document.getElementById("Door Three").src = "/static/goat.jpg";
						document.getElementById("textChange").innerHTML = "You lose.";
						document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) + 1;
					}
					
				}

				function resetGame(){
					document.getElementById("Door One").src = "/static/jpeg/door.jpg";
					document.getElementById("Door Two").src = "/static/jpeg/door.jpg";
					document.getElementById("Door Three").src = "/static/jpeg/door.jpg";

					document.getElementById("textChange").innerHTML = "Click a door!";

					document.getElementById("Door One").onclick = clickOne;
					document.getElementById("Door Two").onclick = clickTwo;
					document.getElementById("Door Three").onclick = clickThree;
				}
				function resetCount(){
					document.getElementById("Door One").src = "/static/jpeg/door.jpg";
					document.getElementById("Door Two").src = "/static/jpeg/door.jpg";
					document.getElementById("Door Three").src = "/static/jpeg/door.jpg";

					document.getElementById("textChange").innerHTML = "Click a door!";

					document.getElementById("Door One").onclick = clickOne;
					document.getElementById("Door Two").onclick = clickTwo;
					document.getElementById("Door Three").onclick = clickThree;

					document.getElementById("count").innerHTML = parseInt(document.getElementById("count").innerHTML) - parseInt(document.getElementById("count").innerHTML);
					document.getElementById("games").innerHTML = parseInt(document.getElementById("games").innerHTML) - parseInt(document.getElementById("games").innerHTML);
				}
			</script>
	</body>
 </html>
